<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet" />
    <title>API list</title>
</head>

<body>
<div class="v98_17">
    <div class="v98_18">
        <span class="v93_13">SIBIRSKIY COSMOS</span>
        <span class="v93_15">МАРКЕТПЛЕЙС ДЛЯ API-ПРОДУКТОВ</span>
    </div>
    <div class="v98_19">
        <span class="v93_39">Поиск API</span>
        <div class="v100_54"></div>
    </div>
    <div class="v98_20">
        <span class="v93_81">Фильтр по стоимости</span>
    </div>
    <div class="v98_21">
        <span class="v93_82">Фильтр по типу API</span>
    </div>
    <div class="v98_23">
        <span class="v93_84">Фильтр по популярности</span>
    </div>
    <div class="v98_25">
        <span class="v93_86">Фильтр по типу протокола</span>
    </div>
    <div class="v98_27">
        <span class="v93_88">Фильтр по дате</span>
    </div>
    <div class="v99_37">
        <span class="v93_48">Описание продукта</span>
        <span class="v93_50">AmoCRM предлагает полную интеграцию с более чем 50 провайдерами телефонии для офиса. Вы можете позвонить клиенту с помощью одного клика прямо из карточки, принимать звонки. Но самое главное, вся история звонков и записи разговоров сохраняются в карточке клиента</span>
        <span class="v93_52">$100</span>
    </div>
    <div class="v99_38">
        <div class="v99_40"></div>
    </div>
    <div class="v99_39"></div>
    <div class="v111_450"></div>
    <span class="v93_44">Купить</span>
    <span class="v112_4">Войти</span>
    <div class="v100_42">
        <div class="v93_91"></div>
        <div class="v93_97"></div>
        <div class="v100_51"></div>
    </div>
    <div class="v100_57"></div>
</div>

    <h1>API List</h1>
    <ul>
        {% for api in apis %}
            <li>{{ api.name }} - {{ api.price }} USD</li>
        {% endfor %}
    </ul>

</body>
</html>