<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{% static 'login/css/main.css' %}" rel="stylesheet" />
    <title>Авторизация</title>
</head>
<body>
    <div class="v105_215">
        <div class="v105_216">
            <span class="v105_217">SIBIRSKIY COSMOS</span>
            <span class="v105_218">МАРКЕТПЛЕЙС ДЛЯ API-ПРОДУКТОВ</span>
        </div>
        <div class="v105_219">
            <span class="v105_220">АВТОРИЗАЦИЯ</span>
        </div>
        <div class="v105_221">
            <div class="v105_222"></div>
            <div class="v105_223"></div>
            <div class="v105_224"></div>
        </div>
        <div class="v105_244"></div>

        <!-- Кнопки в правом верхнем углу -->
        <div class="top-buttons">
            <a href="{% url 'register' %}" class="top-button">Регистрация</a>
            <a href="{% url 'api_list' %}" class="top-button">Главное меню</a>
        </div>


        <!-- Форма для авторизации -->
        <form action="{% url 'login' %}" method="post" class="auth-form">
            {% csrf_token %}
            <div class="v105_245">
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div class="v105_247"></div>
            <div class="v105_248">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div class="v105_254">
                <button type="submit" class="v105_255">Войти</button>
            </div>
        </form>
    </div>
</body>
</html>