<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{% static 'login/css/profile.css' %}" rel="stylesheet" />
    <title>Профиль</title>
</head>
<body>
    <!-- Логотип и название в левом верхнем углу -->
    <div class="branding">
                <div class="v102_95">
                    <span class="v102_96">SIBIRSKIY COSMOS</span>
                    <span class="v102_97">МАРКЕТПЛЕЙС ДЛЯ API-ПРОДУКТОВ</span>
                </div>
    </div>

    <!-- Профиль и кнопка на главную справа -->
    <div class="header-right">
        <div class="main-button">
            <a href="{% url 'api_list' %}" class="main-button-link">На главную</a>
        </div>
        <!-- Новая кнопка перехода в личный кабинет -->
        <div class="main-button">
            <a href="{% url 'lk' %}" class="main-button-link">Личный кабинет</a>
        </div>

        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <div class="user-profile">
                    <button class="profile-button">{{ user.username }}</button>
                    <div class="profile-dropdown">
                        <a href="{% url 'profile' %}">Профиль</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    </div>
                </div>
            {% else %}
                <div class="auth-links">
                    <a href="{% url 'login' %}" class="auth-button">Вход</a>
                    <a href="{% url 'register' %}" class="auth-button">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Информация о пользователе в центре страницы -->
    <div class="profile-container">
        <h2>Информация о профиле</h2>
        <div class="profile-section">
            <label>Имя:</label>
            <span>{{ user.first_name }}</span>
        </div>
        <div class="profile-section">
            <label>Фамилия:</label>
            <span>{{ user.last_name }}</span>
        </div>
        <div class="profile-section">
            <label>Отчество:</label>
            <span>{{ user.patronymic }}</span>
        </div>
        <div class="profile-section">
            <label>Возраст:</label>
            <span>{{ user.age }}</span>
        </div>
        <div class="profile-section">
            <label>Номер телефона:</label>
            <span>{{ user.phone }}</span>
        </div>
    </div>
</body>
</html>
