<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{% static 'login/css/main.css' %}" rel="stylesheet" />
    <title>Регистрация</title>
</head>
<body>
    <div class="v103_163">
        <div class="v103_164">
            <span class="v103_165">SIBIRSKIY COSMOS</span>
            <span class="v103_166">МАРКЕТПЛЕЙС ДЛЯ API-ПРОДУКТОВ</span>
        </div>
        <div class="v103_167">
            <span class="v103_168">РЕГИСТРАЦИЯ</span>
        </div>
        <div class="v103_169">
            <div class="v103_170"></div>
            <div class="v103_171"></div>
            <div class="v103_172"></div>
        </div>

        <div class="top-buttons">
            <a href="{% url 'login' %}" class="top-button">Вход</a>
            <a href="{% url 'api_list' %}" class="top-button">Главное меню</a>
        </div>

        <!-- Форма регистрации -->
        <form action="{% url 'register' %}" method="post" class="registration-form">
    {% csrf_token %}
    <!-- Первая колонка -->
    <div class="form-column">
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" required />
        </div>

        <div class="form-group">
            <label for="password1">Пароль</label>
            <input type="password" id="password1" name="password1" required />
        </div>

        <div class="form-group">
            <label for="password2">Повторите пароль</label>
            <input type="password" id="password2" name="password2" required />
        </div>

        <div class="form-group">
            <label for="first_name">Имя</label>
            <input type="text" id="first_name" name="first_name" required />
        </div>

        <div class="form-group">
            <label for="last_name">Фамилия</label>
            <input type="text" id="last_name" name="last_name" required />
        </div>
    </div>

    <!-- Вторая колонка -->
    <div class="form-column">
        <div class="form-group">
            <label for="patronymic">Отчество</label>
            <input type="text" id="patronymic" name="patronymic" required />
        </div>

        <div class="form-group">
            <label for="birth_date">Дата рождение</label>
            <input type="date" id="birth_date" name="birth_date" required />
        </div>

        <div class="form-group">
            <label for="phone">Номер телефона</label>
            <input type="tel" id="phone" name="phone" required />
        </div>

        <div class="form-group">
            <label for="age">Возвраст</label>
            <input type="number" id="age" name="age" required />
        </div>
    </div>

    <!-- Кнопка регистрации -->
    <div class="v105_250">
        <button type="submit" class="v105_252">Зарегистрироваться</button>
    </div>
</form>
    </div>
</body>
</html>
