* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v111_452 {
  width: 100%;
  height: 1080px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v111_453 {
  width: 700px;
  height: 140px;
  background: rgba(145,180,214,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v111_454 {
  width: 387px;
  color: rgba(255,251,251,1);
  position: absolute;
  top: 22px;
  left: 156px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v111_455 {
  width: 613px;
  color: rgba(255,251,251,1);
  position: absolute;
  top: 70px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v111_456 {
  width: 700px;
  height: 101px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1101px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v111_457 {
  width: 168px;
  color: rgba(214,214,214,1);
  position: absolute;
  top: 34px;
  left: 148px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v111_458 {
  width: 48px;
  height: 61px;
  background: url("../images/v111_458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 37px;
  overflow: hidden;
}
.v111_459 {
  width: 339px;
  height: 109px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v111_460 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 60px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v111_461 {
  width: 339px;
  height: 109px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v111_462 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 72px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v111_463 {
  width: 339px;
  height: 109px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v111_464 {
  width: 252px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 44px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v111_465 {
  width: 339px;
  height: 109px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v111_466 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 36px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v111_467 {
  width: 339px;
  height: 109px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 724px;
  left: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v111_468 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 91px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v111_469 {
  width: 909px;
  height: 242px;
  background: rgba(192,215,237,1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 833px;
  overflow: hidden;
}
.v111_470 {
  width: 388px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 27px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v111_471 {
  width: 795px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 66px;
  left: 27px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v111_472 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 105px;
  left: 803px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v112_6 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 808px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 65px;
  opacity: 1;
  text-align: left;
}
.v111_473 {
  width: 362px;
  height: 242px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 443px;
  overflow: hidden;
}
.v111_474 {
  width: 308px;
  height: 184px;
  background: url("../images/v111_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 21px;
  overflow: hidden;
}
.v111_475 {
  width: 154px;
  height: 66px;
  background: rgba(51,100,146,1);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 1753px;
}
.v112_2 {
  width: 154px;
  height: 66px;
  background: rgba(51,100,146,1);
  opacity: 1;
  position: absolute;
  top: 868px;
  left: 107px;
}
.v111_477 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 298px;
  left: 1777px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v111_478 {
  width: 100%;
  height: 112px;
  background: rgba(146,181,214,1);
  opacity: 1;
  position: absolute;
  top: 968px;
  left: 0px;
  overflow: hidden;
}
.v111_479 {
  width: 53px;
  height: 31px;
  background: url("../images/v111_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 907px;
  overflow: hidden;
}
.v111_480 {
  width: 118px;
  height: 77px;
  background: url("../images/v111_480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 960px;
  overflow: hidden;
}
.v111_481 {
  width: 49px;
  height: 47px;
  background: url("../images/v111_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1078px;
  overflow: hidden;
}
.v111_482 {
  width: 82px;
  height: 77px;
  background: url("../images/v111_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 1813px;
  overflow: hidden;
}
.v111_484 {
  width: 87px;
  height: 84px;
  background: url("../images/v111_484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 951px;
  overflow: hidden;
}
.v112_15 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 889px;
  left: 127px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
